---
import stylesUrl from "../assets/mods/styles.css?url";

const {
	title,
	description,
	image = `${import.meta.env.BASE_URL}images/placeholder.webp`,
	favicon = `${import.meta.env.BASE_URL}favicon.svg`,
	sitemap = `${import.meta.env.BASE_URL}sitemap-index.xml`,
	font = `${import.meta.env.BASE_URL}fonts/cocogoose-var.woff2`,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageURL = new URL(image, Astro.url);
const faviconURL = new URL(favicon, Astro.url);
const sitemapURL = new URL(sitemap, Astro.url);
const fontURL = new URL(font, Astro.url);
---

<head>
	<meta charset="utf-8" />

	<title>{title}</title>
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="generator" content={Astro.generator} />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:url" content={Astro.url} />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={imageURL} />

	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={imageURL} />

	<link rel="canonical" href={canonicalURL} />
	<link rel="icon" type="image/avif" href={faviconURL} />
	<link rel="sitemap" type="application/xml" title="Sitemap" href={sitemapURL} />
	<link rel="preconnect" href={fontURL} as="font" type="font/woff2" />
	<link rel="preload" href={stylesUrl} as="style" />
	<link rel="stylesheet" href={stylesUrl} />
</head>
